<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bootstrap-3.1.1/css/styles.css"/>
</head>
<body ng-app="dictionaryApp">
<div class="container" style="margin-top: -70px" ng-controller="dictionaryCtrl">
    <div class="navbar navbar-fixed-top navbar-fixed-top navbar-inverse">
        <div id="orgNameDiv">
            <input class="form-control typeahead" type="text" placeholder="Organization Name" id="test" onkeyup="$(this).scope().organizationName = this.value;" ng-click="setOrgNameList()" ng-model="name"  ng-class="{'error': err.orgName1}"/>
        </div>
    </div>
</div>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/typeahead.jquery.js "></script>
<script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="js/dictionary.js"></script>
</body>
</html>